# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins*
flutter_export_environment.sh

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
lib/config/secrets.dart
.env

# Dependencies
node_modules/
